agent-1-cv-filter/CV Filtrator.json
{
  "name": "CV Filtrator",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "q": "CV"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -368,
        16
      ],
      "id": "d13939ab-a743-48da-bbe5-cc55c96bf9af",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "uDXojCsFO2Jpk1c7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -176,
        16
      ],
      "id": "30e863ae-f4d8-4633-ba7e-e476a9f0ae47",
      "name": "Get a message",
      "webhookId": "0ac0efed-c20d-4cbc-b65b-c43b3ff63a69",
      "credentials": {
        "gmailOAuth2": {
          "id": "uDXojCsFO2Jpk1c7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        528,
        -144
      ],
      "id": "bc742606-e460-4ae5-a646-1805fecf44a7",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Dhg3pdgbLxasHKVs9tV6MUohH59WFABln0E4OS21F5s",
          "mode": "list",
          "cachedResultName": "Agent CV_Filter",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dhg3pdgbLxasHKVs9tV6MUohH59WFABln0E4OS21F5s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Dhg3pdgbLxasHKVs9tV6MUohH59WFABln0E4OS21F5s/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.email }}",
            "Score": "={{ $json.score }}",
            "Linkedin": "={{ $json.linkedin }}",
            "Name": "={{ $json.imie_nazwisko }}",
            "Contact Number": "={{ $json.telefon }}",
            "Website": "={{ $json.stronawww }}",
            "Position": "={{ $json.stanowisko }}",
            "Education": "={{ $json.szkola }}",
            "Courses": "={{ $json.kursy }}",
            "Exp": "={{ $json.lata_doswiadczenia }}",
            "Summary": "={{ $json.podsumowanie }}",
            "3 Questions for candidate": "={{ $json['3pytaniadokandydata'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact Number",
              "displayName": "Contact Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Linkedin",
              "displayName": "Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Position",
              "displayName": "Position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Education",
              "displayName": "Education",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Courses",
              "displayName": "Courses",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Exp",
              "displayName": "Exp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "3 Questions for candidate",
              "displayName": "3 Questions for candidate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        0
      ],
      "id": "417dcc83-0d26-4475-916b-d9c29fb6579e",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "veeoqIRWy3rH2jWF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json.output[0].content[0].text;\nconst parsed = JSON.parse(raw);\nreturn { json: parsed };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        0
      ],
      "id": "8b92bd76-26b4-41ba-91c6-c33a39066582",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AP0PHFHGV",
          "mode": "list",
          "cachedResultName": "cv-filter"
        },
        "text": "=___________________________________________________\n\n📩 New candidate CV received!\n\n*Position*: {{ $json.Position }}\n*Name*: {{ $json.Name }}\n*Exp*: {{ $json.Exp }} yr(s)\n*Score*: {{ $json.Score }} out of 10 matching score\n*Email*: {{ $json.Email }}\n*Contact Number*: {{ $json['Contact Number'] }}\n\n\nSheet: https://docs.google.com/spreadsheets/d/1Dhg3pdgbLxasHKVs9tV6MUohH59WFABln0E4OS21F5s/edit?gid=0#gid=0",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1568,
        0
      ],
      "id": "9dc9bef2-134f-49c1-9446-118b87bc751b",
      "name": "Send a message",
      "webhookId": "cca9ec45-201d-47a2-8ced-a41dc8bebf3c",
      "credentials": {
        "slackOAuth2Api": {
          "id": "70Chx70mFkeqkXHG",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Jesteś asystentem HR. Przeanalizuj poniższe CV i zwróć TYLKO obiekt JSON (bez żadnego tekstu przed ani po) w tym formacie:\n{\n  \"imie_nazwisko\": \"\",\n  \"email\": \"\",\n  \"telefon\": \"\",\n  \"linkedin\": \"\",\n  \"stronawww\": \"\",\n  \"szkola\": \"\",\n  \"stanowisko\": \"\",\n  \"kursy\": \"\",\n  \"lata_doswiadczenia\": 0,\n  \"kluczowe_umiejetnosci\": [],\n  \"score\": 0,\n  \"podsumowanie\": \"\"\n  \"3pytaniadokandydata\": \"\"\n}\nStanowisko- na podstawie CV wydedukuj na jakie stanowisko może kandydat aplikować\nScore to liczba od 1 do 10 oznaczająca dopasowanie do roli na którą aplikuje. 10 = idealne dopasowanie.\nNumer telefonu zwróć bez znaku +, np. 31 6 12 34 56 78\n3pytaniadokandydata- na podstawie CV, oraz wiedzy o stanowisku wygeneruj 3 spersonalizowane pytania na przełamanie lodów z kandydatem\nWszystko ma być po angielsku\n"
            },
            {
              "content": "={{ $json.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        832,
        0
      ],
      "id": "7c970143-50f8-463f-88d8-37b199371627",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WuzaalBwDyKynqlh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.attachment_0.mimeType }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "70ff3d55-234d-492c-956b-d43688c7a2bf"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bedfde1f-41e9-4919-bc03-a8f66e0a2cc5",
                    "leftValue": "={{ $binary.attachment_0.mimeType }}",
                    "rightValue": "word",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        240,
        0
      ],
      "id": "fbc98f66-b3b5-4683-9c7b-3787c8b154bf",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item;\nconst data = item.binary.attachment_0.data;\nconst buffer = Buffer.from(data, 'base64');\nconst str = buffer.toString('utf-8');\nconst matches = str.match(/<w:t[^>]*>([^<]+)<\\/w:t>/g) || [];\nconst text = matches\n  .map(m => m.replace(/<[^>]+>/g, ''))\n  .join(' ');\nreturn { json: { text } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        144
      ],
      "id": "d8739945-23ae-4584-80ed-bd16b770b10e",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "44826670-d1c2-44d4-a3a4-526958938ee3",
              "leftValue": "={{ $binary.attachment_0 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        32,
        16
      ],
      "id": "b41df2c3-1875-4174-b2ea-b6ba73668aad",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "emailType": "text",
        "message": "Prosimy o załączenie CV w formacie PDF lub DOCX",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        48,
        320
      ],
      "id": "9da3b337-7a57-4a85-bd8a-62edfca0d21d",
      "name": "Reply to a message",
      "webhookId": "1a1506b9-d9de-43a2-ac05-f4f384f876a9",
      "credentials": {
        "gmailOAuth2": {
          "id": "uDXojCsFO2Jpk1c7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "Mail bez załącznika - wysłano prośbę o CV"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        208,
        320
      ],
      "id": "20b8d576-7b1c-47b7-bdaa-033111dc7362",
      "name": "Stop and Error"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "OpenAI Chat Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "OpenAI Chat Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ba37a4a2-8935-4b99-8a30-ef425ab7e96e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e8b59142df5dea7e7a6c4c7d70da13b20fdd6bf079477c755fdac10fe41a2f3"
  },
  "id": "pd5tRdQgqNYsN5NH",
  "tags": []
}